{% extends 'online_store/base.html' %}

{% block content %}

<h1>{{title}}</h1>
<br>
<h3>#{{goods.id}} - {{goods.name}} - {{goods.price}} грн</h3>
<h3>{{user.username}} - {{user.email}}</h3>


<!--<div class="add-to-cart-btn">-->
<!--                        <button class="btn">-->
<!--                            У Кошик-->
<!--                        </button>-->
<!--</div>-->
<!--    <button type="submit">Добавить</button>-->
<!--<form action="{% url 'goods_new' %}" method="post" >-->
<!--    {% csrf_token %}-->
<!--    {{form.as_p}}-->
<!--    <div class="form-error">{{ form.non_field_errors }}</div>-->

<!--{% for f in form %}-->
<!--<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>-->
<!--<div class="form-error">{{ f.errors }}</div>-->
<!--{% endfor %}-->





<!--</form>-->

{% endblock %}
