{% extends 'online_store/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<table class="cart">
    <thead>
      <tr>
        <th class="num">Товар</th>
        <th class="num">Кіл</th>
        <th class="num">Ціна</th>
        <th class="num">Сума</th>
      </tr>
    </thead>
      <tbody>
      {% for item in bas %}
<!--        {% with product=item.product %}-->
          <tr>
            <td class="name">{{ item.goods.name }}</td>
            <td class="num">{{ item.amount }}</td>
            <td class="num">{{ item.price }} грн</td>
            <td class="num">{{ item.total_price }} грн</td>
          </tr>
<!--        {% endwith %}-->
      {% endfor %}
<!--      <tr class="total">-->
<!--        <td>Всего</td>-->
<!--        <td colspan="4"></td>-->
<!--        <td class="num">{{ cart.get_total_price }}</td>-->
<!--      </tr>-->
    </tbody>
  </table>

{% endblock %}
