{% extends 'online_store/base.html' %}

{% block content %}

<h2>ПРОГРАММА ЛОЯЛЬНОСТИ</h2>

    <p>Зареєстровані користувачі отримують можливість зробити замовлення у нашому інтернет-магазині.</p>

    <ul><b>Постійним покупцям надається система знижок:</b>
        <li> Одноразова покупка на більш ніж 3000грн - знижка 5%</li>
        <li> Щомісячний оборот понад 5000грн - знижка 7%</li>
        <li> Щомісячний оборот понад 10000грн - знижка 10%</li>
    </ul>
 <br>



<h2>Оплата</h2>
<p> Після обробки замовлення наш менеджер зв'яжеться з Вами за допомогою телефону або електронної пошти, щоб уточнити спосіб доставки та оплати.
Мінімальна  сума  замовлення - 200 грн.</p>


<br>
<h2>Доставка УкрПошта, Нова Пошта</h2>
<p>Доставка за тарифами УкрПошти, Нової пошти.</p>
<p>Умови безкоштовної доставки обговорюються з менеджером.</p>
<br>
<small>Можлива доставка іншими кур'єрами за домовленістю</small>
<br>
<br>

<h2>Контакти</h2>

<p>067 1324567</p>
<p>095 1324567</p>
<p>063 1324567</p>
<p>
    Ви можете написати нам -
    <b>email@example.com</b>
    або використати форму зворотнього зв'язку
</p>


{% endblock %}